:root {
  --font-family: 'Poppins', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
