.root
  display: grid
  grid-template-columns: 148px 1fr
  gap: 48px

  .chart
    width: 100%

  .details
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-between
    gap: 8px

    .header
      align-items: flex-start
      sub
        color: var(--text-color-secondary)
        font-size: 0.7em
        font-weight: 400
        margin-left: 8px

    .assets
      display: grid
      grid-template-columns: repeat(auto-fit,160px)
